@model EPAM.Model.Client

<div id="view">
    <div id="info">
        <div><h1>@Model.Name @Model.SName</h1></div>
        <div><h2>@(Model.IsCompany ? "Company - " + @Model.CompanyName : "Not Company")</h2></div>
        <div><h2>TimeZone - @Model.TimeZone.Title, Local time - @(DateTime.UtcNow.AddHours(Model.TimeZone.UTCHourValue).ToShortTimeString())</h2></div>
    </div>
    @if (ViewBag.IsOwner)
    {
        <div id="editDiv">
            <input id="edit" type="button" value="Edit" />
        </div>
    }
    <div id="overview">
        <div id="overviewTitle"><h1>Overview</h1></div>
        <div id="overviewText"><h4>@((Model.Overview == null || Model.Overview == "") ? "Overview left" : Model.Overview)</h4></div>
    </div>
</div>
@if (ViewBag.IsOwner)
{
    <div id="editForm" class="hidden">
        <form method="post" action="@Url.Action("SaveClient")">
            <div id="infoEdit">
                <div>
                    <input type="text" name="Name" placeholder="First Name" value="@Model.Name" />
                    <input type="text" name="SName" placeholder="Last Name" value="@Model.SName" />
                </div>
                <div>
                    <input type="radio" name="IsCompany" value="true" @(Model.IsCompany ? "checked" : "") />Company
                    <input type="radio" name="IsCompany" value="false" @(!Model.IsCompany ? "checked" : "") />Not Company
                </div>
                <div id="companyName" class="@(Model.IsCompany ? "" : "hidden")">
                    <input type="text" name="CompanyName" placeholder="Company Name" value="@Model.CompanyName" />
                </div>
                <div>
                    <select name="TimeZoneId">
                        <option value="@Guid.Empty">TimeZone</option>
                        @foreach (var item in ViewBag.TimeZones)
                        {
                            <option value="@item.Id" @(Model.TimeZoneId == item.Id ? "selected" : "")>@item.Title</option>
                        }
                    </select>
                </div>
            </div>
            <div id="editDiv">
                <input id="saveEdit" type="submit" value="Save Edit" />
            </div>
            <div id="overview">
                <div id="overviewTitle"><h1>Overview</h1></div>
                <div><textarea name="Overview" rows="10" placeholder="Overview">@Model.Overview</textarea></div>
            </div>
        </form>
    </div>
}


